strong {
    font-weight: 700;
}

body {
    font-family: sans-serif;
}

em {
    font-style: italic;
}

hr {
    border: none;
    background-color: rgb(226 232 240);
    height: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.site-wrapper {
    width: 40%;
    min-width: fit-content;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.rounded-md {
    border-radius: 0.375rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bg-slate-50 {
    background-color: rgb(248 250 252);
}

.bg-slate-200 {
    background-color: rgb(226 232 240);
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.pt-8 {
    padding-top: 8px;
}

.pb-16 {
    padding-bottom: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.font-normal {
    font-weight: 400;
}

th {
    font-weight: 400;
}

.table-header {
    font-weight: 700;
}