strong {
    font-weight: 700;
}

.site-wrapper {
    width: 40%;
    min-width: fit-content;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.rounded-md {
    border-radius: 0.375rem;
}

.text-center {
    text-align: center;
}

.bg-slate-50 {
    background-color: rgb(248 250 252);
}

.bg-slate-200 {
    background-color: rgb(226 232 240);
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.pt-8 {
    padding-top: 8px;
}

.pb-16 {
    padding-bottom: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}